.mainContainer {
    padding: 60px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #fff
}

.mbtiContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}

.mbtiContainer #searchMbti,
.mbtiContainer #searchMbti:focus
.mbtiContainer #searchMbti:active
.mbtiContainer #searchMbti:-webkit-autofill {
    text-align: center;
    background-color: #f7f9fc;
    border: #ccc;
    outline: none;
    box-shadow: 0 0 0px 1000px #f7f9fc inset;
    transition: #f7f9fc 5000s ease-in-out 0s;
    border-radius: 3px;
    font-size: 1rem;
}

.mbtiContainer p {
    align-self: center;
    color: #fff;
}

button {
    padding: 8px 15px;
    background-color: #e59560;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    color: #25262b;
    font-size: 1rem;
    cursor: pointer;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.contentContainer #searchContent,
.contentContainer #searchContent:focus
.contentContainer #searchContent:active
.contentContainer #searchContent:-webkit-autofill {
    width: 100%;
    background-color: #f7f9fc;
    border: #ccc;
    outline: none;
    box-shadow: 0 0 0px 1000px #f7f9fc inset;
    transition: #f7f9fc 5000s ease-in-out 0s;
    border-radius: 3px;
    font-size: 1rem;
}

.loadingWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}

.loadingSpinner {
    width: 40px;
    height: 40px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}