:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #25262b;
}