:root {
  --color-dark: #25262b;
  --color-gray: #ccc;
  --color-cream: #f7f9fc;
  --color-white: #fff;
  --color-light-orange: #e59560;
  --color-orange: #ff7b3a;
  --color-blue: #3498db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--color-dark);
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}